<div id="flash_message"></div>
<% form_for [@comment_on, @comment_on.comments.new]  do |f| -%>
	<%= f.error_messages %>
  <p>
	<%= f.label :content, "Content" %><br />
	<%= f.text_area :content %>
  </p>
<p><%= f.submit "Submit" %></p>
<% end -%>